
CURRENT_FORMAT =  r'^([cC]hg|[fF]ix|[nN]ew)\s*:\s*(dev|use?r|pkg)\s*:\s*([^\n]*)$'
OLD_FORMAT =      r'^\[[^\]]+\]\s*([^\n]*)$'
VERY_OLD_FORMAT = r'^[A-Z]+\s*:\s*([^\n]*)$'

unreleased_version_label = "%%version%% (unreleased)"

ignore_regexps = [r'^Back to development',
                  r'^Tag version',
                  r'^Prepare to release',
                  r'^Prepare release',
                  r'^Merge branch',
                  r'.*[cC]osmetic',
                  r'.*[cC]leanup',
                  r'.*[vV]arious',
                  r'.*[mM][aA][nN][iI][fF][eE][sS][tT].in',
                  ]


replace_regexps = {
    ## current format (ie: 'chg: dev: my commit msg')

    CURRENT_FORMAT: r'\3',

    ## old format (ie: '[US67TOTO3] my commit msg')

    OLD_FORMAT: r'\1',

    ## very old format (ie: 'PACKAGING: my commit msg')

    VERY_OLD_FORMAT: r'\1',
}


section_regexps = (
    ('New', [
	r'^[nN]ew\s*:\s*(dev|use?r|pkg)\s*:\s*([^\n]*)$',
     ]),
    ('Changes', [
        r'^[cC]hg\s*:\s*(dev|use?r|pkg)\s*:\s*([^\n]*)$',
     ]),
    ('Fix', [
        r'^[fF]ix\s*:\s*(dev|use?r|pkg)\s*:\s*([^\n]*)$',
     ]),

    ('Other', None ## Match all lines
     ),

)

body_split_regexp = r'(^|\n)\w+\s*:'

tag_filter_regexp = r'^[0-9]+\.[0-9]+(\.[0-9]+)?$'
